process{
	executor = 'sge'
	errorStrategy = 'finish' //finish will allow jobs to complete in the event of a failure, otherwise everything in every step is killed
	
	// '-R y':
	// SEE ALSO:
	// Resource Reservation: Preventing Large Parallel Job Starvation
	// http://talby.rcs.manchester.ac.uk/~ri/_notes_sge/resource_reservation.html
	// Use resource reservation to guarantee that resources are dedicated to
	// jobs in job-priority order.
	// Resource Reservation and Backfilling (Sun N1 Grid Engine 6.1 Administration Guide)
	// https://docs.oracle.com/cd/E19957-01/820-0698/eoqma/index.html
	clusterOptions = '-S /bin/bash -R y'
	
	penv = "smp"
	cpus = 4
	shell = ['/bin/bash', '-ueo','pipefail']
}